{% extends 'DpavicJobsBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/dpavicjobs/css/jobs.css') }}" 
          type="text/css" media="all" />
{% endblock stylesheets %}

{% block content %}
    <div id="jobs">
        {% include 'DpavicJobsBundle:Job:list.html.twig' with {'jobs': jobs} %}
    </div>
{% endblock content %}